.forgot-password-container {
  height: 80vh;
  color: whitesmoke;
  margin-top: 100px;
  margin-right: 5%;
  margin-left: 5%;
}

/* Media query for large screens */
@media (min-width: 768px) {
  .forgot-password-container {
    margin-right: 0%;
    margin-left: 0%;
  }
}
