nav {
  font-family: "Times New Roman", Times, serif;
  font-style: normal;
  background-color: #0a0a0a;
  width: 100%;
}

#navbarNav ul li {
  padding: 10px;
}

#navbarNav ul li a {
  color: white;
  font-size: 15px;
  display: inline-block;
  letter-spacing: 1px;
  padding: 4px 16px 4px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
}

#navbarNav ul li a:hover {
  transform: scale(1.1);
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  color: white;
  background-color: #0a0a0a;
}

.dropdown-menu {
  background-color: #0a0a0a;
}

.nav-photo {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.navbar-toggler-icon {
  filter: invert(1); /* Changes black to white */
}
